@import '../../../Variables.scss';

.publication {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	.publication__avatar {
		width: 50px;
		height: 50px;
		border: solid 1px $color-gray;
		border-radius: 50%;
		overflow: hidden;

		.publication__avatar-img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.publication__textarea {
		@include block;
		color: $color-black;
		background-color: $color-white;
		resize: none;
		width: 90%;
	}

	.publication__textarea:focus {
		outline: solid 1px $color-black;
	}
}

