$color-white: #fff;
$color-black: #000;
$color-dark-gray: #60676f;
$color-gray: #dcdee1;
$color-light-gray: #e8eaed;
$color-blue: #4469ae;
$color-bg-gray: #f5f6f7;
$color-red: #b04546;

@mixin block {
	box-sizing: border-box;
	border: solid 1px $color-gray;
	border-radius: 4px;
	padding: 10px;
}